
.conataner{
  background:rgba(216, 207, 207, 0.3);
  width: 350PX;
  border-radius: 30px;
  padding: 50px;
  height: 370px;
  margin-left: 200px;
  margin-top: -540px;
  backdrop-filter: blur(15px)
  

}
.header{
  text-align: center;
  margin: 10px;
}
.Button{
  justify-content: space-between;
  margin: 10px;
  
}
.vj{
  color: rgb(22, 113, 12);
}
